<h1><%= @cocktail.name %></h1>

<img class="w-100" src="https://source.unsplash.com/1600x900/?<%= @cocktail.name %>-cocktail" alt="">

<ul>
  <% @cocktail.doses.each do |dose| %>
    <li class="mt-3">
      <p><%= dose.description %> of <%= dose.ingredient.name %>
        <%= link_to dose_path(dose), method: "delete", data: { confirm: "Are you sure?"} do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </p>
    </li>
  <% end %>
</ul>

<%= link_to "Add Dose", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>
